@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    color: #687281;
}

.tf-tree {
    font-size: 16px;
    overflow: auto;
}

.tf-tree * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tf-tree ul {
    display: inline-flex;
}

.tf-tree li {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 1em;
    position: relative;
}

.tf-tree li ul {
    margin: 2em 0;
}

.tf-tree li li:before {
    border-top: 0.0625em solid #000;
    content: "";
    display: block;
    height: 0.0625em;
    left: -0.03125em;
    position: absolute;
    top: -1.03125em;
    width: 100%;
}

.tf-tree li li:first-child:before {
    left: calc(50% - 0.03125em);
    max-width: calc(50% + 0.0625em);
}

.tf-tree li li:last-child:before {
    left: auto;
    max-width: calc(50% + 0.0625em);
    right: calc(50% - 0.03125em);
}

.tf-tree li li:only-child:before {
    display: none;
}

.tf-tree li li:only-child > .tf-nc:before,
.tf-tree li li:only-child > .tf-node-content:before {
    height: 1.0625em;
    top: -1.0625em;
}

.tf-tree .tf-nc,
.tf-tree .tf-node-content {
    border: 0.0625em solid #000;
    display: inline-block;
    padding: 0.5em 1em;
    position: relative;
}

.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:before {
    top: -1.03125em;
}

.tf-tree .tf-nc:after,
.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:after,
.tf-tree .tf-node-content:before {
    border-left: 0.0625em solid #000;
    content: "";
    display: block;
    height: 1em;
    left: calc(50% - 0.03125em);
    position: absolute;
    width: 0.0625em;
}

.tf-tree .tf-nc:after,
.tf-tree .tf-node-content:after {
    top: calc(100% + 0.03125em);
}

.tf-tree .tf-nc:only-child:after,
.tf-tree .tf-node-content:only-child:after,
.tf-tree > ul > li > .tf-nc:before,
.tf-tree > ul > li > .tf-node-content:before {
    display: none;
}

.tf-tree.tf-gap-sm li {
    padding: 0 0.6em;
}

.tf-tree.tf-gap-sm li > .tf-nc:before,
.tf-tree.tf-gap-sm li > .tf-node-content:before {
    height: 0.6em;
    top: -0.6em;
}

.tf-tree.tf-gap-sm li > .tf-nc:after,
.tf-tree.tf-gap-sm li > .tf-node-content:after {
    height: 0.6em;
}

.tf-tree.tf-gap-sm li ul {
    margin: 1.2em 0;
}

.tf-tree.tf-gap-sm li li:before {
    top: -0.63125em;
}

.tf-tree.tf-gap-sm li li:only-child > .tf-nc:before,
.tf-tree.tf-gap-sm li li:only-child > .tf-node-content:before {
    height: 0.6625em;
    top: -0.6625em;
}

.tf-tree.tf-gap-lg li {
    padding: 0 1.5em;
}

.tf-tree.tf-gap-lg li > .tf-nc:before,
.tf-tree.tf-gap-lg li > .tf-node-content:before {
    height: 1.5em;
    top: -1.5em;
}

.tf-tree.tf-gap-lg li > .tf-nc:after,
.tf-tree.tf-gap-lg li > .tf-node-content:after {
    height: 1.5em;
}

.tf-tree.tf-gap-lg li ul {
    margin: 3em 0;
}

.tf-tree.tf-gap-lg li li:before {
    top: -1.53125em;
}

.tf-tree.tf-gap-lg li li:only-child > .tf-nc:before,
.tf-tree.tf-gap-lg li li:only-child > .tf-node-content:before {
    height: 1.5625em;
    top: -1.5625em;
}

.tf-tree li.tf-dotted-children .tf-nc:after,
.tf-tree li.tf-dotted-children .tf-nc:before,
.tf-tree li.tf-dotted-children .tf-node-content:after,
.tf-tree li.tf-dotted-children .tf-node-content:before {
    border-left-style: dotted;
}

.tf-tree li.tf-dotted-children li:before {
    border-top-style: dotted;
}

.tf-tree li.tf-dotted-children > .tf-nc:before,
.tf-tree li.tf-dotted-children > .tf-node-content:before {
    border-left-style: solid;
}

.tf-tree li.tf-dashed-children .tf-nc:after,
.tf-tree li.tf-dashed-children .tf-nc:before,
.tf-tree li.tf-dashed-children .tf-node-content:after,
.tf-tree li.tf-dashed-children .tf-node-content:before {
    border-left-style: dashed;
}

.tf-tree li.tf-dashed-children li:before {
    border-top-style: dashed;
}

.tf-tree li.tf-dashed-children > .tf-nc:before,
.tf-tree li.tf-dashed-children > .tf-node-content:before {
    border-left-style: solid;
}

.passwordType {
    margin: 5% 0%;
}

form.changePwd input {
    border-radius: 0px;
}

label.labelHighlight {
    color: #4e73df;
}

.memberRegistration .form-group {
    margin-bottom: 30px;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
    text-align: center;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: 30px;
}

table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
    outline: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    opacity: 1;
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0;
}

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

div.dataTables_scrollBody table thead .sorting:before,
div.dataTables_scrollBody table thead .sorting_asc:before,
div.dataTables_scrollBody table thead .sorting_desc:before,
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none;
}

div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none;
}

div.dataTables_scrollFoot > .dataTables_scrollFootInner {
    box-sizing: content-box;
}

div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
    margin-top: 0 !important;
    border-top: none;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }
}

table.dataTable.table-sm > thead > tr > th {
    padding-right: 20px;
}

table.dataTable.table-sm .sorting:before,
table.dataTable.table-sm .sorting_asc:before,
table.dataTable.table-sm .sorting_desc:before {
    top: 5px;
    right: 0.85em;
}

table.dataTable.table-sm .sorting:after,
table.dataTable.table-sm .sorting_asc:after,
table.dataTable.table-sm .sorting_desc:after {
    top: 5px;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
    border-left-width: 0;
}

table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
    border-right-width: 0;
}

table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
}

div.table-responsive
    > div.dataTables_wrapper
    > div.row
    > div[class^="col-"]:first-child {
    padding-left: 0;
}

div.table-responsive
    > div.dataTables_wrapper
    > div.row
    > div[class^="col-"]:last-child {
    padding-right: 0;
}
